---
import { changeLanguage } from "i18next";
import Footer from "~/components/template/footer.astro";
import Header from "~/components/template/header.astro";
import "src/styles/theme.css";
import Dynamiclink from "~/components/molecules/dynamiclink.astro";
import LeftparaNew from "~/components/organisms/research/leftparaNew.astro";

changeLanguage("fr");

const { generator, site } = Astro;
const image = new URL("/public/Hero Section.png", site);
const description = "Web 4.0 Community";
const items = [
    { text: "Home", urls: "/" },
    { text: "Research", urls: "/research" },
    { text: "LEARN MORE ABOUT WEB 4.0", urls: "/research#researchGrid" }
];
---

<!DOCTYPE html>


    <html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <script src="src/scripts/footerParalax.jsx"></script>
   <link rel="stylesheet" href="../fonts/satoshi-cufonfonts-webfont/app.css">
   <link rel="stylesheet" href="../styles/theme.css">
   
    <link rel="preload" as="font">
<script ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/svg/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
     <meta name="generator" content={generator} />

    <title>Web4 Developers</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preload"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" /> 
    
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />

    
   
    <div class=" block h-full w-full">
        
        <section>
            <Dynamiclink items={items} current="5G"/>
        </section>
        <section>
            <LeftparaNew heading="5th Generation Internet (5G)" 
      body="5G is the fifth-generation technology standard for broadband cellular networks, which is the successor to the 4G networks which provide connectivity to most current cellphones." 
      image="../svg/research/5g.svg" alink="/"/>
        </section>
        <section>
            
            <LeftparaNew heading="The future of 5G" 
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. " 
                    image="../svg/research/5gcar.svg" alink="/"
            />
      
        </section>
  
      <Footer />
  </div>
  
  </body>
</html>

