---
import Footer from "~/components/template/footer.astro";
import Header from "~/components/template/header.astro";
import Herosection from "~/components/organisms/index/Herosection.astro";
import Whatisweb4 from "~/components/organisms/index/whatisweb4.astro";
import Scrollpart3 from "~/components/organisms/index/scrollpart3.astro";
import FooterParalaxScroll from "~/components/organisms/index/footerParalaxScroll.astro";
import LeftPara from "~/components/molecules/leftPara.astro";
import RightPara from "~/components/molecules/rightPara.astro";
import Scrollpart1 from "~/components/organisms/index/scrollpart1.astro";
import "src/styles/theme.css";
import Boxes from "~/components/organisms/index/boxes.astro";
import Beforeafter from "~/components/organisms/index/beforeafter.astro";
import Toggle from "~/components/organisms/index/toggle.astro";
import Leftpara2 from "~/components/molecules/leftpara2.astro";
import AIexchange from "~/components/molecules/AIexchange.astro";
import Imageslider from "~/components/organisms/index/imageslider.astro";
import i18next, { t, changeLanguage } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Camera from "~/components/Atoms/camera.astro";
import HumanScreen from "~/components/Atoms/humanScreen.astro";
import VR from "~/components/Atoms/vr.astro";
import Robot4arm from "~/components/Atoms/robot4arm.astro";
changeLanguage("en");

const { generator, site } = Astro;
const image = new URL("/public/Hero Section.png", site);




---

<!DOCTYPE html>


    <html lang={i18next.language} class="h-full motion-safe:scroll-smooth scroll-smooth" data-theme="dark">
  <head>
    <script src="src/scripts/footerParalax.jsx"></script>
   <link rel="stylesheet" href="../fonts/satoshi-cufonfonts-webfont/app.css">
   <link rel="stylesheet" href="../styles/theme.css">
    <link rel="preload" as="font">
    <HeadHrefLangs />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/svg/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
     <meta name="generator" content={generator} />

    <title>{t("index.title")}</title>
    <meta name="description" content={t("index.description")} />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preload"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- <title>{title}</title> -->
<!-- sdfd -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={t("index.description")}/>
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" /> 
    <!-- initialize theme -->
    <script src="../scripts/scroll.jsx"></script>
    <script is:inline>

      


      const themeSaved = localStorage.getItem("theme");
      console.log(themeSaved)

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });

        console.log(document.documentElement.dataset.theme)
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-base selection:bg-secondary selection:text-white"
  >

  <style>
    .scrollUp.active{
      transform: translateY(-55px);
    }
  </style>
    <Header />

    
    <!-- <Nav /> -->
    <!-- <Splash /> -->
    <div class=" block h-full w-full">
      <section class="">
        <Herosection />
      </section>

      <section class="">
        <Whatisweb4 />        
      </section >

      
      
      <section>
        <Boxes />
      </section>

      <section class="overflow-hidden	">
        <Toggle />
      </section>

      <section class="h-[100vh]">
        <Imageslider />
      </section>
      
      

      <section>
        
        

<div class="flex justify-evenly py-10 sm:flex-wrap-reverse w-[100vw] sm:pt-10 align-baseline bg-gray-300">

  <div class="sm:p-0 pt-20 align-middle ">
     <div><p class="text-2xl sm:text-xl font-grotesk font-bold text-primary sm:pt-4">{t("index.leftPara1.heading")}</p></div>
      <div class="pt-5 sm:pt-2"><p class="font-satoshi w-[50vw] sm:w-[80vw] font-medium text-sm sm:text-sm text-secondary flex-none order-1 flex-grow-0">{t("index.leftPara1.body")}</p></div>
          <div class="pt-5 sm:pt-2">
              <button class="items-center w-auto pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded-lg text-white "><a href="/"> {t("index.knowMore")}</a></button>

          </div>
        
  </div>

  <div class="align-middle sm:w-[80vw]">
      <img src="../svg/index/brain.svg" alt="nothinh" width="400" height="180">         
  </div>

</div>
      </section>
    
      
      
      <section>
        <Camera/>
      </section>

      <section>
       
        <Beforeafter />
      </section>  


      <section>
     <VR/>
      </section>
      
    

      
      <section>
        

        <HumanScreen/>
      </section>

      

      
       

         
      
     
      
  
  <section>
  <Robot4arm/>
</section>

       <section>
        <Leftpara2 />
          
      </section>

      <section>
        <AIexchange />
      </section>
      
      <section class="scrollElement overflow:hidden ">
    
        <FooterParalaxScroll class="z-1" />
      </section>
      
  <Footer />
  </div>
  <div class="bottom-[40px] right-[40px] fixed"> 
    <a href="#"  id="scroll">
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="20" cy="20" r="19" fill="white" stroke="black" stroke-width="2"/>
    <path d="M12.9333 23.6C12.6889 23.3556 12.5667 23.0444 12.5667 22.6667C12.5667 22.2889 12.6889 21.9778 12.9333 21.7333L19.0667 15.6C19.2 15.4667 19.3444 15.372 19.5 15.316C19.6555 15.2609 19.8222 15.2333 20 15.2333C20.1778 15.2333 20.3502 15.2667 20.5173 15.3333C20.6835 15.4 20.8222 15.4889 20.9333 15.6L27.0666 21.7333C27.3111 21.9778 27.4333 22.2889 27.4333 22.6667C27.4333 23.0444 27.3111 23.3556 27.0666 23.6C26.8222 23.8444 26.5111 23.9667 26.1333 23.9667C25.7555 23.9667 25.4444 23.8444 25.2 23.6L20 18.4L14.8 23.6C14.5555 23.8444 14.2444 23.9667 13.8667 23.9667C13.4889 23.9667 13.1778 23.8444 12.9333 23.6Z" fill="black"/>
    </svg>
  </a>
</div>
  
    
  </body>
</html>
