---
import { Icon } from "astro-icon";
import ThemeSwitcher from "~/components/template/theme-switcher.astro";
import type { NavItem } from "~/types";
import Search from "../Atoms/search.astro";
import Logo from "../Atoms/logo.astro";
import W4logo from "../Atoms/w4logo.astro";
import NavElement from "~/components/Atoms/navelement.astro";
import {t} from "i18next";
import Community from "~/pages/community.astro";
import { HeadHrefLangs } from "astro-i18next/components";

import { localizePath } from "astro-i18next";


const navItems: Array<NavItem> = [
  { title: "Research", url: localizePath("/research") }, 
  { title: "Community", url: localizePath("/community") },
  { title: "Developer", url: localizePath("/developer") } 
  
];
---
<HeadHrefLangs />
<header
  id="page-header"
  class="absolute bottom z-20 flex w-full items-center lg:justify-between border-transparent px-8 py-2  text-white fixed-header"
>
  <a class="flex items-center gap-1 sm:gap-2 font-grotesk" href="/">
    <!-- <h1 class="sr-only">AstroXX</h1>
    <Icon name="logomark" class="h-10" />
    <Icon name="wordmark" class="hidden h-4 sm:block" /> -->
    <div class="sm:translate-x-[40px] sm:px-24 sm:items-center sm:items-center md:translate-x-[120px]">   
      <img src="../svg/index/navbarlogo.svg" width="35" height="35" alt="AE navbar logo"  />
    </div>
    <!-- <Logo /> -->
      <!-- <div class="sm:hidden">
        <Logo />
      </div>
      <div class="hidden sm:block">
        <a>kdfo</a>
        <Smlogo />
      </div> -->
 
  </a>
  <div class="hidden pr-[350px] w-[1000px] lg:block">
    <!-- <Navbutton text="Community" />
   
    <Navbutton text="Developers" />
    <Navbutton text="Research" /> -->
    <NavElement text={t("nav.research.head")}  url={localizePath("/research")} items={[{content: t("nav.research.1"), link:"/"},{content:t("nav.research.2"), link:"/"},{content:t("nav.research.3"), link:"/"} ,{content:t("nav.research.4"), link:"/"} ]} />
    <NavElement text={t("nav.community.head")} url=  {localizePath("/community")} items={[{content:t("nav.community.1"), link:"/"}, {content:t("nav.community.2"), link:"/"}, {content:t("nav.community.3"), link:"/"}, {content:t("nav.community.4"), link:"/"}, {content:t("nav.community.5"), link:"/"}, {content:t("nav.community.6"), link:"/"} ]}
   />
    
    <NavElement text={t("nav.developer.head")}  url={localizePath("/developer")} items={[{content:t("nav.developer.1"), link:"/"},{content:t("nav.developer.2"), link:"/"} ,{content:t("nav.developer.3"), link:"/"} ,{content:t("nav.developer.4"), link:"/"} ]} />
    
    
  </div>

  <!-- <div class="translate-x-[100px]">
    <Search />
  </div> -->
  
    <div class="flex items-center md:px-[540px]">
      <!-- <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="text-sm" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav> -->
      
      
      <div class="translate-x-[0px] pr-[35px] gap-1 sm:translate-x-[2px]">
        <Search />
      </div>

      <a href="/language" class="text-base font-grotesk text-textbluetheme">
        <button aria-label="Search" type="submit" class=" h-[60px] m-0 absolute inline-block text-textbluetheme right-0 top-0 mt-3 mr-16">
           <Icon name="zondicons:globe" class="h-[24px] pb-1 inline-block textbluetheme" /> 
        </button>
      </a>
      
      <div class="w-10 flex textbluetheme translate-x-[30px] sm:translate-x-[10px] sm:gap-6 items-center gap-6">
        <ThemeSwitcher />
        <button
          id="open-nav-button"
          type="button"
          class="btn lg:hidden textbluetheme"
          aria-label="Navigation"
        >
                   
          <Icon name="el:lines" class="h-5 textbluetheme" />
          <style>
                  [astro-icon="el:lines"] {
                    color: #A080FF;
                }
            </style>
          <!-- <svg name="menu" class="h-10 bg-dark" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="10" y="14" width="12" height="2.5" rx="1" />
          <rect x="10" y="21" width="24" height="2.5" rx="1" fill="black"/>
          <rect x="22" y="28" width="12" height="2.5" rx="1" fill="black"/>
          </svg>
          
          <div data-theme="light">
           <svg name="menu" class="h-10 bg-light" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="10" y="14" width="12" height="2.5" rx="1" fill="white"/>
          <rect x="10" y="21" width="24" height="2.5" rx="1" fill="white"/>
          <rect x="22" y="28" width="12" height="2.5" rx="1" fill="white"/>
          </svg>
          </div> -->

        </button>
      </div>
 

    
    <div id="menu-modal" class="modal hidden" aria-hidden="true">
      <div class="bg-default fixed inset-0 px-8 py-4">
        <div class="space-y-4" role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn "
              aria-label="Close navigation"
            >
              <Icon name="teenyicons:x-outline" class="h-8" />
              <style>
                  [astro-icon="teenyicons:x-outline"] {
                    color: #A080FF;
                }
            </style>
            </button>
          </header>
          <div class="flex justify-center">
            <!-- <Icon name="logomark" class="h-16" /> -->
            <W4logo />
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-center text-primary text-xl" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import MicroModal from "micromodal";
  import invariant from "tiny-invariant";

  const menuModalId = "menu-modal";

  const header = document.querySelector("#page-header") as HTMLElement;
  const page = document.documentElement;
  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");

  invariant(header, "header should not be null");
  invariant(menu, "menu should not be null");
  invariant(openNavButton, "openNavButton should not be null");
  invariant(closeNavButton, "closeNavButton should not be null");

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    MicroModal.close(menuModalId);
  };

  openNavButton.addEventListener("click", openMenu);
  closeNavButton.addEventListener("click", closeMenu);

  document.addEventListener("scroll", () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    // header.classList.toggle("fixed-header", d < 0);
  });

  menu.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeMenu();
    }
  });
</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed top-0 bottom-auto;
    @apply border-default bg-default text-default font-grotesk;
  }
  .modal.is-open {
    @apply block;
  }
</style>
